h1, h2, h3 { margin:0; padding:0; font-weight:normal; font-style:normal; }
a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
body { background-color:#EEEEEE; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
#container_6dc7642a { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:882px; background-color:#EEEEEE;  }
#container_6dc7642a_padding { margin: 10px; display: block;  }
#container_35965677 { box-sizing: border-box; vertical-align: top; border-radius: 9px; position:relative; display: inline-block; width:100%; min-height:71px; background-color:#EEEEEE; background: linear-gradient(to bottom, #EEEEEE, #EEEEEE); border: 1px solid #EEEEEE;  }
#container_5271cb71 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:74px; background:none;  }
#container_5271cb71_padding { margin: 10px; display: block;  }
#container_50693a0d { vertical-align: top; position:relative; display: inline-block; width:50%; min-height:70px; background:none;  }
#container_50693a0d_padding { margin: 10px; display: block;  }
#heading_71742726 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
.textstyle2 { font-size:28pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#container_91ac625 { vertical-align: top; position:relative; display: inline-block; width:50%; min-height:70px; background:none;  }
.textstyle3 { text-align:right; }
#img_232424b1 { vertical-align: bottom; position:relative; display: inline-block; width:36%; min-width:50px; max-width:100px; background:none;  }
#container_19d801ec { box-sizing: border-box; vertical-align: top; border-radius: 9px; position:relative; display: inline-block; width:100%; min-height:150px; background-color:#BDBDBD; background: linear-gradient(to bottom, #BDBDBD, #BDBDBD); border: 1px solid #BDBDBD;  }
#img_4d42a83f { vertical-align: bottom; position:relative; display: inline-block; width:100%; background:none;  }
.textstyle4 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#heading_322e3c6f { vertical-align: bottom; position:relative; display: inline-block; width:156px; height:43px; background:none;  }
.textstyle5 { font-size:24pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#container_7330b34f { box-sizing: border-box; vertical-align: top; border-radius: 9px; position:relative; display: inline-block; width:100%; min-height:150px; background-color:#FFFFFF; background: linear-gradient(to bottom, #FFFFFF, #FFFFFF); border: 1px solid #FFFFFF;  }
#container_7330b34f_padding { margin: 10px; display: block;  }
#heading_450824da { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
.textstyle6 { font-size:15pt; font-family:Arial, Helvetica, sans-serif; color:#999999;  }
#heading_7d7f79dd { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
.textstyle7 { font-size:18pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#container_5e11d928 { box-sizing: border-box; vertical-align: top; border-radius: 9px; position:relative; display: inline-block; width:100%; min-height:100px; background-color:#FFFFFF; background: linear-gradient(to bottom, #FFFFFF, #FFFFFF); border: 1px solid #FFFFFF;  }
#container_5e11d928_padding { margin: 10px 10px 10px 0px;display: block;  }
#container_b0df8f6 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:50px; background:none;  }
#container_b0df8f6_padding { margin: 10px 0px 10px 0px;display: block;  }
#container_29067862 { vertical-align: top; position:relative; display: inline-block; width:32%; min-height:50px; background:none;  }
#container_29067862_padding { margin: 0px 10px 10px 0px;display: block;  }
#img_4f98b62 { vertical-align: bottom; position:relative; display: inline-block; width:99%; background:none;  }
#container_584e5d40 { vertical-align: top; position:relative; display: inline-block; width:41%; min-height:50px; background:none;  }
#container_584e5d40_padding { margin: 0px 10px 10px 0px;display: block;  }
#heading_41e5572d { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
.textstyle8 { font-size:14pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
.textstyle9 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#555555;  }
#container_1bb6b284 { vertical-align: top; position:relative; display: inline-block; width:27%; min-height:50px; max-width:200px; background:none;  }
#container_1bb6b284_padding { margin: 10px; display: block;  }
#button_34042f14 { vertical-align: bottom; border-radius: 9px; position:relative; display: inline-block; width:70px; height:40px; background-color:#C0C0C0;  }
.vcenterstyle1 { display: table; width: 100%; height: 100%; }
.vcenterstyle2 { display: table-cell; vertical-align: middle; }
.textstyle10 { text-align:center; }
#button_734c9320 { vertical-align: bottom; border-radius: 9px; position:relative; display: inline-block; width:70px; height:40px; background-color:#C0C0C0;  }
#container_76d795b9 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:50px; background:none;  }
#container_76d795b9_padding { margin: 10px 0px 10px 0px;display: block;  }
#container_54726d48 { vertical-align: top; position:relative; display: inline-block; width:32%; min-height:50px; background:none;  }
#container_54726d48_padding { margin: 0px 10px 10px 0px;display: block;  }
#img_4b551ac5 { vertical-align: bottom; position:relative; display: inline-block; width:99%; background:none;  }
#container_60bb6fa5 { vertical-align: top; position:relative; display: inline-block; width:41%; min-height:50px; background:none;  }
#container_60bb6fa5_padding { margin: 0px 10px 10px 0px;display: block;  }
#heading_656daaa9 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_3faec19a { vertical-align: top; position:relative; display: inline-block; width:27%; min-height:50px; max-width:200px; background:none;  }
#container_3faec19a_padding { margin: 10px; display: block;  }
#button_4e35183a { vertical-align: bottom; border-radius: 9px; position:relative; display: inline-block; width:70px; height:40px; background-color:#C0C0C0;  }
#button_7793ad5 { vertical-align: bottom; border-radius: 9px; position:relative; display: inline-block; width:70px; height:40px; background-color:#C0C0C0;  }
#heading_7d6e0e94 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_78d6203e { box-sizing: border-box; vertical-align: top; border-radius: 9px; position:relative; display: inline-block; width:100%; min-height:150px; background-color:#FFFFFF; background: linear-gradient(to bottom, #FFFFFF, #FFFFFF); border: 1px solid #FFFFFF;  }
#container_78d6203e_padding { margin: 10px; display: block;  }
#container_25bd00f2 { box-sizing: border-box; vertical-align: top; border-radius: 9px; position:relative; display: inline-block; width:100%; min-height:100px; background-color:#FFFFFF; background: linear-gradient(to bottom, #FFFFFF, #FFFFFF); border: 1px solid #FFFFFF;  }
#container_25bd00f2_padding { margin: 10px; display: block;  }
#container_b61e83 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:50px; background:none;  }
#container_b61e83_padding { margin: 10px 0px 10px 0px;display: block;  }
#container_146acaae { vertical-align: top; position:relative; display: inline-block; width:32%; min-height:50px; background:none;  }
#container_146acaae_padding { margin: 0px 10px 10px 0px;display: block;  }
#img_70dfcd45 { vertical-align: bottom; position:relative; display: inline-block; width:99%; background:none;  }
#container_36889197 { vertical-align: top; position:relative; display: inline-block; width:41%; min-height:50px; background:none;  }
#container_36889197_padding { margin: 0px 10px 10px 0px;display: block;  }
#heading_113dc287 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_4b711abb { vertical-align: top; position:relative; display: inline-block; width:27%; min-height:50px; max-width:200px; background:none;  }
#container_4b711abb_padding { margin: 10px; display: block;  }
#button_45953828 { vertical-align: bottom; border-radius: 9px; position:relative; display: inline-block; width:70px; height:40px; background-color:#C0C0C0;  }
#button_40bf1b19 { vertical-align: bottom; border-radius: 9px; position:relative; display: inline-block; width:70px; height:40px; background-color:#C0C0C0;  }
#container_1ee7d79d { box-sizing: border-box; vertical-align: top; border-radius: 9px; position:relative; display: inline-block; width:100%; min-height:100px; background-color:#FFFFFF; background: linear-gradient(to bottom, #FFFFFF, #FFFFFF); border: 1px solid #FFFFFF;  }
#container_1ee7d79d_padding { margin: 10px; display: block;  }
#container_3e8d9aab { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:50px; background:none;  }
#container_3e8d9aab_padding { margin: 10px 0px 10px 0px;display: block;  }
#container_4b8833a { vertical-align: top; position:relative; display: inline-block; width:32%; min-height:50px; background:none;  }
#container_4b8833a_padding { margin: 0px 10px 10px 0px;display: block;  }
#img_3ae7ee26 { vertical-align: bottom; position:relative; display: inline-block; width:99%; background:none;  }
#container_4a51962e { vertical-align: top; position:relative; display: inline-block; width:41%; min-height:50px; background:none;  }
#container_4a51962e_padding { margin: 0px 10px 10px 0px;display: block;  }
#heading_4c4ecec7 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_798fb160 { vertical-align: top; position:relative; display: inline-block; width:27%; min-height:50px; max-width:200px; background:none;  }
#container_798fb160_padding { margin: 10px; display: block;  }
#button_40bc1880 { vertical-align: bottom; border-radius: 9px; position:relative; display: inline-block; width:70px; height:40px; background-color:#C0C0C0;  }
#button_579f572f { vertical-align: bottom; border-radius: 9px; position:relative; display: inline-block; width:70px; height:40px; background-color:#C0C0C0;  }
#container_78055da2 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:129px; background:none;  }
#container_78055da2_padding { margin: 10px; display: block;  }
#container_3578321b { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; width:100%; min-height:87px; background-color:#EEEEEE; background: linear-gradient(to bottom, #EEEEEE, #EEEEEE); border: 1px solid #EEEEEE;  }
#container_c31bbfd { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:87px; background:none;  }
#container_c31bbfd_padding { margin: 10px; display: block;  }
#container_517c0d28 { vertical-align: top; position:relative; display: inline-block; width:25%; min-height:87px; background:none;  }
#container_517c0d28_padding { margin: 10px; display: block;  }
#img_7d022765 { vertical-align: bottom; position:relative; display: inline-block; width:100%; background:none;  }
#container_7e041a8c { vertical-align: top; position:relative; display: inline-block; width:25%; min-height:87px; background:none;  }
#container_7e041a8c_padding { margin: 10px; display: block;  }
#img_7af4dfa0 { vertical-align: bottom; position:relative; display: inline-block; width:89%; background:none;  }
#container_8884fa5 { vertical-align: top; position:relative; display: inline-block; width:25%; min-height:87px; background:none;  }
#container_8884fa5_padding { margin: 10px; display: block;  }
#img_53fe67b0 { vertical-align: bottom; position:relative; display: inline-block; width:88%; background:none;  }
#container_5be0ad15 { vertical-align: top; position:relative; display: inline-block; width:25%; min-height:87px; background:none;  }
#container_5be0ad15_padding { margin: 10px; display: block;  }
#img_12dee79e { vertical-align: bottom; position:relative; display: inline-block; width:79%; background:none;  }
@media only screen and (max-width: 200px)
{
		#container_517c0d28 { width:50%;  }
		#container_7e041a8c { width:50%;  }
		#container_8884fa5 { width:50%;  }
		#container_5be0ad15 { width:50%;  }
}
@media only screen and (max-width: 150px)
{
		#container_29067862 { width:100%;  }
		#container_584e5d40 { width:100%;  }
		#container_1bb6b284 { width:100%;  }
		#container_54726d48 { width:100%;  }
		#container_60bb6fa5 { width:100%;  }
		#container_3faec19a { width:100%;  }
		#container_146acaae { width:100%;  }
		#container_36889197 { width:100%;  }
		#container_4b711abb { width:100%;  }
		#container_4b8833a { width:100%;  }
		#container_4a51962e { width:100%;  }
		#container_798fb160 { width:100%;  }
}
@media only screen and (max-width: 100px)
{
		#container_517c0d28 { width:100%;  }
		#container_7e041a8c { width:100%;  }
		#container_8884fa5 { width:100%;  }
		#container_5be0ad15 { width:100%;  }
}
@media only screen and (max-width: 60px)
{
		#container_50693a0d { width:100%;  }
		#container_91ac625 { width:100%;  }
}
