h1, h2, h3 { margin:0; padding:0; font-weight:normal; font-style:normal; }
a { color:#0000FF; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
body { background-color:#EEEEEE; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
#container_3a2e78ab { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background-color:#EEEEEE;  }
#container_230ad33c { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:50px; background-color:#FFFFFF;  }
#container_14dab094 { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:50px; background:none;  }
#container_14dab094_padding { margin: 10px; display: block;  }
.textstyle2 { font-size:16pt; font-family:Arial, Helvetica, sans-serif; color:#000000; text-decoration:underline;  }
#container_26b019b7 { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:50px; background:none;  }
#container_26b019b7_padding { margin: 10px; display: block;  }
.textstyle3 { text-align:center; }
#heading_779060e3 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
.textstyle4 { font-size:24pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#container_39b21281 { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:50px; background:none;  }
#container_39b21281_padding { margin: 10px; display: block;  }
.textstyle5 { text-align:right; }
.textstyle6 { font-size:16pt; font-family:Arial, Helvetica, sans-serif; color:#0000FF; text-decoration:underline;  }
#container_425d58bc { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_425d58bc_padding { margin: 10px; display: block;  }
#container_6b3c0fb9 { box-sizing: border-box; vertical-align: top; border-radius: 9px; position:relative; display: inline-block; width:100%; min-height:150px; background-color:#FFFFFF; background: linear-gradient(to bottom, #FFFFFF, #FFFFFF); border: 1px solid #FFFFFF;  }
#container_6b3c0fb9_padding { margin: 10px; display: block;  }
.textstyle7 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#container_204a9eb4 { box-sizing: border-box; vertical-align: top; border-radius: 9px; position:relative; display: inline-block; width:100%; min-height:100px; background-color:#FFFFFF; background: linear-gradient(to bottom, #FFFFFF, #FFFFFF); border: 1px solid #FFFFFF;  }
#container_204a9eb4_padding { margin: 10px 10px 10px 0px;display: block;  }
#container_55395be1 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:50px; background:none;  }
#container_55395be1_padding { margin: 10px 0px 10px 0px;display: block;  }
#container_21c760a1 { vertical-align: top; position:relative; display: inline-block; width:39%; min-height:151px; background:none;  }
#container_21c760a1_padding { margin: 0px 10px 10px 0px;display: block;  }
#img_243743e5 { vertical-align: bottom; position:relative; display: inline-block; width:99%; background:none;  }
#container_15e8bbd7 { vertical-align: top; position:relative; display: inline-block; width:59%; min-height:56px; background:none;  }
#container_15e8bbd7_padding { margin: 0px 10px 10px 0px;display: block;  }
#heading_644f192f { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
.textstyle8 { font-size:14pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
.textstyle9 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#555555;  }
#container_36c0aa32 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:50px; background:none;  }
#container_36c0aa32_padding { margin: 10px 0px 10px 0px;display: block;  }
#container_18ef35b6 { vertical-align: top; position:relative; display: inline-block; width:39%; min-height:151px; background:none;  }
#container_18ef35b6_padding { margin: 0px 10px 10px 0px;display: block;  }
#img_6dabfcdb { vertical-align: bottom; position:relative; display: inline-block; width:99%; background:none;  }
#container_370d490b { vertical-align: top; position:relative; display: inline-block; width:59%; min-height:56px; background:none;  }
#container_370d490b_padding { margin: 0px 10px 10px 0px;display: block;  }
#heading_326a1534 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
@media only screen and (max-width: 150px)
{
		#container_14dab094 { width:100%;  }
		#container_26b019b7 { width:100%;  }
		#container_39b21281 { width:100%;  }
		#container_21c760a1 { width:100%;  }
		#container_15e8bbd7 { width:100%;  }
		#container_18ef35b6 { width:100%;  }
		#container_370d490b { width:100%;  }
}
