h1, h2, h3 { margin:0; padding:0; font-weight:normal; font-style:normal; }
a { color:#0000FF; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
body { background-color:#EEEEEE; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
#container_16cee0d4 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background-color:#EEEEEE;  }
#container_6c0cadd2 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:50px; background-color:#FFFFFF;  }
#container_4fdfc9ed { vertical-align: top; position:relative; display: inline-block; width:19%; min-height:78px; background:none;  }
#container_4fdfc9ed_padding { margin: 10px; display: block;  }
.textstyle2 { font-size:16pt; font-family:Arial, Helvetica, sans-serif; color:#000000; text-decoration:underline;  }
#container_308ef8c8 { vertical-align: top; position:relative; display: inline-block; width:62%; min-height:63px; background:none;  }
#container_308ef8c8_padding { margin: 10px; display: block;  }
.textstyle3 { text-align:center; }
#heading_21860e0b { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
.textstyle4 { font-size:24pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#container_ab5c495 { vertical-align: top; position:relative; display: inline-block; width:19%; min-height:50px; background:none;  }
#container_ab5c495_padding { margin: 10px; display: block;  }
.textstyle5 { text-align:right; }
.textstyle6 { font-size:16pt; font-family:Arial, Helvetica, sans-serif; color:#0000FF; text-decoration:underline;  }
#container_14381ce5 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:705px; background-color:#FFFFFF; background-image: url(rc_images/___1_1024x1023.jpg); background-position:center center; background-size:cover;  }
#container_14381ce5_padding { margin: 10px; display: block;  }
.textstyle7 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#text_52200a0e { position:absolute; left:12%; top:89%; width:77%; height:8%; background:none;  }
.textstyle8 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
@media only screen and (max-width: 150px)
{
		#container_4fdfc9ed { width:100%;  }
		#container_308ef8c8 { width:100%;  }
		#container_ab5c495 { width:100%;  }
}
