h1, h2, h3 { margin:0; padding:0; font-weight:normal; font-style:normal; }
a { color:#0000FF; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
body { background-color:#EEEEEE; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
#container_195c3e88 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background-color:#EEEEEE;  }
#container_1aa22b2e { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:50px; background-color:#FFFFFF;  }
#container_7957b65a { vertical-align: top; position:relative; display: inline-block; width:19%; min-height:78px; background:none;  }
#container_7957b65a_padding { margin: 10px; display: block;  }
.textstyle2 { font-size:16pt; font-family:Arial, Helvetica, sans-serif; color:#000000; text-decoration:underline;  }
#container_5e5d0a1f { vertical-align: top; position:relative; display: inline-block; width:62%; min-height:63px; background:none;  }
#container_5e5d0a1f_padding { margin: 10px; display: block;  }
.textstyle3 { text-align:center; }
#heading_2ed0ae96 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
.textstyle4 { font-size:24pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#container_52470387 { vertical-align: top; position:relative; display: inline-block; width:19%; min-height:50px; background:none;  }
#container_52470387_padding { margin: 10px; display: block;  }
.textstyle5 { text-align:right; }
.textstyle6 { font-size:16pt; font-family:Arial, Helvetica, sans-serif; color:#0000FF; text-decoration:underline;  }
#container_2c02f379 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:705px; background-color:#FFFFFF; background-image: url(rc_images/________1024x1024.png); background-position:center center; background-size:cover;  }
#container_2c02f379_padding { margin: 10px; display: block;  }
.textstyle7 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#text_3b8cca23 { position:absolute; left:17%; top:75%; width:65%; height:20%; background:none;  }
.textstyle8 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
@media only screen and (max-width: 150px)
{
		#container_7957b65a { width:100%;  }
		#container_5e5d0a1f { width:100%;  }
		#container_52470387 { width:100%;  }
}
