h1, h2, h3 { margin:0; padding:0; font-weight:normal; font-style:normal; }
a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
body { background-color:#EEEEEE; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
#container_ab1ab8 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:882px; background-color:#EEEEEE;  }
#container_ab1ab8_padding { margin: 10px; display: block;  }
#container_3d93d594 { box-sizing: border-box; vertical-align: top; border-radius: 9px; position:relative; display: inline-block; width:100%; min-height:71px; background-color:#EEEEEE; background: linear-gradient(to bottom, #EEEEEE, #EEEEEE); border: 1px solid #EEEEEE;  }
#container_6f0348cf { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:74px; background:none;  }
#container_6f0348cf_padding { margin: 10px; display: block;  }
#container_56973d4f { vertical-align: top; position:relative; display: inline-block; width:50%; min-height:70px; background:none;  }
#container_56973d4f_padding { margin: 10px; display: block;  }
#heading_72bb4161 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
.textstyle2 { font-size:28pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#container_3aa7fb8d { vertical-align: top; position:relative; display: inline-block; width:50%; min-height:70px; background:none;  }
.textstyle3 { text-align:right; }
#img_684a78b5 { vertical-align: bottom; position:relative; display: inline-block; width:36%; min-width:50px; max-width:100px; background:none;  }
.textstyle4 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#container_73e40489 { box-sizing: border-box; vertical-align: top; border-radius: 9px; position:relative; display: inline-block; width:100%; min-height:150px; background-color:#FFFFFF; background: linear-gradient(to bottom, #FFFFFF, #FFFFFF); border: 1px solid #FFFFFF;  }
#container_73e40489_padding { margin: 10px; display: block;  }
#container_272f68d2 { box-sizing: border-box; vertical-align: top; border-radius: 9px; position:relative; display: inline-block; width:100%; min-height:100px; background-color:#FFFFFF; background: linear-gradient(to bottom, #FFFFFF, #FFFFFF); border: 1px solid #FFFFFF;  }
#container_272f68d2_padding { margin: 10px 10px 10px 0px;display: block;  }
#container_1c10d889 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:50px; background:none;  }
#container_1c10d889_padding { margin: 10px 0px 10px 0px;display: block;  }
#container_25d4d69e { vertical-align: top; position:relative; display: inline-block; width:32%; min-height:50px; background:none;  }
#container_25d4d69e_padding { margin: 0px 10px 10px 0px;display: block;  }
#img_33af1aa4 { vertical-align: bottom; position:relative; display: inline-block; width:99%; background:none;  }
#container_e0aa467 { vertical-align: top; position:relative; display: inline-block; width:41%; min-height:50px; background:none;  }
#container_e0aa467_padding { margin: 0px 10px 10px 0px;display: block;  }
#heading_1153c71b { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
.textstyle5 { font-size:14pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
.textstyle6 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#555555;  }
#container_336d9c3e { vertical-align: top; position:relative; display: inline-block; width:27%; min-height:50px; max-width:200px; background:none;  }
#container_336d9c3e_padding { margin: 10px; display: block;  }
#button_11381a91 { vertical-align: bottom; border-radius: 9px; position:relative; display: inline-block; width:70px; height:40px; background-color:#C0C0C0;  }
.vcenterstyle1 { display: table; width: 100%; height: 100%; }
.vcenterstyle2 { display: table-cell; vertical-align: middle; }
.textstyle7 { text-align:center; }
#container_5930bd0 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:50px; background:none;  }
#container_5930bd0_padding { margin: 10px 0px 10px 0px;display: block;  }
#container_11785dcc { vertical-align: top; position:relative; display: inline-block; width:32%; min-height:50px; background:none;  }
#container_11785dcc_padding { margin: 0px 10px 10px 0px;display: block;  }
#img_20030a6e { vertical-align: bottom; position:relative; display: inline-block; width:99%; background:none;  }
#container_2942a313 { vertical-align: top; position:relative; display: inline-block; width:41%; min-height:50px; background:none;  }
#container_2942a313_padding { margin: 0px 10px 10px 0px;display: block;  }
#heading_551a4d65 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_169a6d8d { vertical-align: top; position:relative; display: inline-block; width:27%; min-height:50px; max-width:200px; background:none;  }
#container_169a6d8d_padding { margin: 10px; display: block;  }
#button_62d5bc16 { vertical-align: bottom; border-radius: 9px; position:relative; display: inline-block; width:70px; height:40px; background-color:#C0C0C0;  }
#heading_22ba5167 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
.textstyle8 { font-size:24pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#container_175ca5d1 { box-sizing: border-box; vertical-align: top; border-radius: 9px; position:relative; display: inline-block; width:100%; min-height:150px; background-color:#FFFFFF; background: linear-gradient(to bottom, #FFFFFF, #FFFFFF); border: 1px solid #FFFFFF;  }
#container_175ca5d1_padding { margin: 10px; display: block;  }
#container_72c14026 { box-sizing: border-box; vertical-align: top; border-radius: 9px; position:relative; display: inline-block; width:100%; min-height:100px; background-color:#FFFFFF; background: linear-gradient(to bottom, #FFFFFF, #FFFFFF); border: 1px solid #FFFFFF;  }
#container_72c14026_padding { margin: 10px; display: block;  }
#container_265333b1 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:50px; background:none;  }
#container_265333b1_padding { margin: 10px 0px 10px 0px;display: block;  }
#container_6162cc93 { vertical-align: top; position:relative; display: inline-block; width:32%; min-height:50px; background:none;  }
#container_6162cc93_padding { margin: 0px 10px 10px 0px;display: block;  }
#img_2d9fe3d1 { vertical-align: bottom; position:relative; display: inline-block; width:99%; background:none;  }
#container_48423f0a { vertical-align: top; position:relative; display: inline-block; width:41%; min-height:50px; background:none;  }
#container_48423f0a_padding { margin: 0px 10px 10px 0px;display: block;  }
#heading_2b390592 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_49e1f76c { vertical-align: top; position:relative; display: inline-block; width:27%; min-height:50px; max-width:200px; background:none;  }
#container_49e1f76c_padding { margin: 10px; display: block;  }
#button_41572922 { vertical-align: bottom; border-radius: 9px; position:relative; display: inline-block; width:70px; height:40px; background-color:#C0C0C0;  }
#button_385a7bb4 { vertical-align: bottom; border-radius: 9px; position:relative; display: inline-block; width:70px; height:40px; background-color:#C0C0C0;  }
#container_5d2c557e { box-sizing: border-box; vertical-align: top; border-radius: 9px; position:relative; display: inline-block; width:100%; min-height:100px; background-color:#FFFFFF; background: linear-gradient(to bottom, #FFFFFF, #FFFFFF); border: 1px solid #FFFFFF;  }
#container_5d2c557e_padding { margin: 10px; display: block;  }
#container_2b75ca2c { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:50px; background:none;  }
#container_2b75ca2c_padding { margin: 10px 0px 10px 0px;display: block;  }
#container_1f405828 { vertical-align: top; position:relative; display: inline-block; width:32%; min-height:50px; background:none;  }
#container_1f405828_padding { margin: 0px 10px 10px 0px;display: block;  }
#img_1cab4bd { vertical-align: bottom; position:relative; display: inline-block; width:99%; background:none;  }
#container_50c31395 { vertical-align: top; position:relative; display: inline-block; width:41%; min-height:50px; background:none;  }
#container_50c31395_padding { margin: 0px 10px 10px 0px;display: block;  }
#heading_3c62bcba { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_eafec1 { vertical-align: top; position:relative; display: inline-block; width:27%; min-height:50px; max-width:200px; background:none;  }
#container_eafec1_padding { margin: 10px; display: block;  }
#button_6e9d1fd4 { vertical-align: bottom; border-radius: 9px; position:relative; display: inline-block; width:70px; height:40px; background-color:#C0C0C0;  }
#button_224c1627 { vertical-align: bottom; border-radius: 9px; position:relative; display: inline-block; width:70px; height:40px; background-color:#C0C0C0;  }
#container_af8b1c7 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:129px; background:none;  }
#container_af8b1c7_padding { margin: 10px; display: block;  }
#container_72cf8353 { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; width:100%; min-height:87px; background-color:#EEEEEE; background: linear-gradient(to bottom, #EEEEEE, #EEEEEE); border: 1px solid #EEEEEE;  }
#container_1611217 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:87px; background:none;  }
#container_1611217_padding { margin: 10px; display: block;  }
#container_39b119f2 { vertical-align: top; position:relative; display: inline-block; width:25%; min-height:87px; background:none;  }
#container_39b119f2_padding { margin: 10px; display: block;  }
#img_4157cec4 { vertical-align: bottom; position:relative; display: inline-block; width:100%; background:none;  }
#container_799cf6d4 { vertical-align: top; position:relative; display: inline-block; width:25%; min-height:87px; background:none;  }
#container_799cf6d4_padding { margin: 10px; display: block;  }
#img_63e5c826 { vertical-align: bottom; position:relative; display: inline-block; width:89%; background:none;  }
#container_5e2c35a8 { vertical-align: top; position:relative; display: inline-block; width:25%; min-height:87px; background:none;  }
#container_5e2c35a8_padding { margin: 10px; display: block;  }
#img_238398fe { vertical-align: bottom; position:relative; display: inline-block; width:88%; background:none;  }
#container_f75d9c1 { vertical-align: top; position:relative; display: inline-block; width:25%; min-height:87px; background:none;  }
#container_f75d9c1_padding { margin: 10px; display: block;  }
#img_73bdfe86 { vertical-align: bottom; position:relative; display: inline-block; width:79%; background:none;  }
@media only screen and (max-width: 200px)
{
		#container_39b119f2 { width:50%;  }
		#container_799cf6d4 { width:50%;  }
		#container_5e2c35a8 { width:50%;  }
		#container_f75d9c1 { width:50%;  }
}
@media only screen and (max-width: 150px)
{
		#container_25d4d69e { width:100%;  }
		#container_e0aa467 { width:100%;  }
		#container_336d9c3e { width:100%;  }
		#container_11785dcc { width:100%;  }
		#container_2942a313 { width:100%;  }
		#container_169a6d8d { width:100%;  }
		#container_6162cc93 { width:100%;  }
		#container_48423f0a { width:100%;  }
		#container_49e1f76c { width:100%;  }
		#container_1f405828 { width:100%;  }
		#container_50c31395 { width:100%;  }
		#container_eafec1 { width:100%;  }
}
@media only screen and (max-width: 100px)
{
		#container_39b119f2 { width:100%;  }
		#container_799cf6d4 { width:100%;  }
		#container_5e2c35a8 { width:100%;  }
		#container_f75d9c1 { width:100%;  }
}
@media only screen and (max-width: 60px)
{
		#container_56973d4f { width:100%;  }
		#container_3aa7fb8d { width:100%;  }
}
