a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
body { background-color:#EEEEEE; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
#container_376492b4 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:882px; background-color:#EEEEEE;  }
#container_6d8f1fa4 { box-sizing: border-box; vertical-align: top; border-radius: 9px; position:relative; display: inline-block; width:100%; min-height:150px; background-color:#BDBDBD; background: linear-gradient(to bottom, #BDBDBD, #BDBDBD); border: 1px solid #BDBDBD;  }
#img_4275b4f5 { vertical-align: bottom; position:relative; display: inline-block; width:100%; background:none;  }
#text_4b7457a3 { box-sizing: border-box; border-radius: 15px; position:absolute; left:92%; top:3%; width:23px; height:24px; background-color:#FFFFFF; border: 2px solid #404040;  }
.textstyle2 { text-align:center; }
.textstyle3 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#container_51f95657 { box-sizing: border-box; vertical-align: top; border-radius: 9px; position:relative; display: inline-block; width:100%; min-height:150px; background-color:#EEEEEE; background: linear-gradient(to bottom, #EEEEEE, #EEEEEE); border: 1px solid #FFFFFF;  }
#container_51f95657_padding { margin: 10px; display: block;  }
.textstyle4 { text-align:right; }
#button_2133a55c { vertical-align: bottom; border-radius: 9px; position:relative; display: inline-block; width:111px; height:40px; background-color:#B3CDF3;  }
.vcenterstyle1 { display: table; width: 100%; height: 100%; }
.vcenterstyle2 { display: table-cell; vertical-align: middle; }
#container_4bb5e666 { box-sizing: border-box; vertical-align: top; border-radius: 9px; position:relative; display: inline-block; width:100%; min-height:100px; background-color:#EEEEEE; background: linear-gradient(to bottom, #EEEEEE, #EEEEEE); border: 1px solid #EEEEEE;  }
#container_4bb5e666_padding { margin: 10px 10px 10px 0px;display: block;  }
#button_6a12a099 { vertical-align: bottom; border-radius: 9px; position:relative; display: inline-block; width:111px; height:40px; background-color:#B3CDF3;  }
