h1, h2, h3 { margin:0; padding:0; font-weight:normal; font-style:normal; }
a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
body { background-color:#EEEEEE; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
#container_f6af83f { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:882px; background-color:#EEEEEE;  }
#container_f6af83f_padding { margin: 10px; display: block;  }
#container_373e1d09 { box-sizing: border-box; vertical-align: top; border-radius: 9px; position:relative; display: inline-block; width:100%; min-height:71px; background-color:#EEEEEE; background: linear-gradient(to bottom, #EEEEEE, #EEEEEE); border: 1px solid #EEEEEE;  }
#container_7d61f365 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:74px; background:none;  }
#container_7d61f365_padding { margin: 10px; display: block;  }
#container_762bc35f { vertical-align: top; position:relative; display: inline-block; width:50%; min-height:70px; background:none;  }
#container_762bc35f_padding { margin: 10px; display: block;  }
#heading_4a106d5f { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
.textstyle2 { font-size:28pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#container_296c3eda { vertical-align: top; position:relative; display: inline-block; width:50%; min-height:70px; background:none;  }
.textstyle3 { text-align:right; }
#img_857303d { vertical-align: bottom; position:relative; display: inline-block; width:36%; min-width:50px; max-width:100px; background:none;  }
.textstyle4 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#container_6130f3f7 { box-sizing: border-box; vertical-align: top; border-radius: 9px; position:relative; display: inline-block; width:100%; min-height:150px; background-color:#FFFFFF; background: linear-gradient(to bottom, #FFFFFF, #FFFFFF); border: 1px solid #FFFFFF;  }
#container_6130f3f7_padding { margin: 10px; display: block;  }
#container_56477c64 { box-sizing: border-box; vertical-align: top; border-radius: 9px; position:relative; display: inline-block; width:100%; min-height:100px; background-color:#FFFFFF; background: linear-gradient(to bottom, #FFFFFF, #FFFFFF); border: 1px solid #FFFFFF;  }
#container_56477c64_padding { margin: 10px 10px 10px 0px;display: block;  }
#container_5b507d54 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:50px; background:none;  }
#container_5b507d54_padding { margin: 10px 0px 10px 0px;display: block;  }
#container_367f974d { vertical-align: top; position:relative; display: inline-block; width:32%; min-height:50px; background:none;  }
#container_367f974d_padding { margin: 0px 10px 10px 0px;display: block;  }
#img_65ad7335 { vertical-align: bottom; position:relative; display: inline-block; width:99%; background:none;  }
#container_1ab16334 { vertical-align: top; position:relative; display: inline-block; width:41%; min-height:50px; background:none;  }
#container_1ab16334_padding { margin: 0px 10px 10px 0px;display: block;  }
#heading_27a8afc4 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
.textstyle5 { font-size:14pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
.textstyle6 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#555555;  }
#container_36fa3ba4 { vertical-align: top; position:relative; display: inline-block; width:27%; min-height:50px; max-width:200px; background:none;  }
#container_36fa3ba4_padding { margin: 10px; display: block;  }
#button_51f3121e { vertical-align: bottom; border-radius: 9px; position:relative; display: inline-block; width:70px; height:40px; background-color:#C0C0C0;  }
.vcenterstyle1 { display: table; width: 100%; height: 100%; }
.vcenterstyle2 { display: table-cell; vertical-align: middle; }
.textstyle7 { text-align:center; }
#container_4862d6e8 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:50px; background:none;  }
#container_4862d6e8_padding { margin: 10px 0px 10px 0px;display: block;  }
#container_7f2f72eb { vertical-align: top; position:relative; display: inline-block; width:32%; min-height:50px; background:none;  }
#container_7f2f72eb_padding { margin: 0px 10px 10px 0px;display: block;  }
#img_4bfced08 { vertical-align: bottom; position:relative; display: inline-block; width:99%; background:none;  }
#container_514aacea { vertical-align: top; position:relative; display: inline-block; width:41%; min-height:50px; background:none;  }
#container_514aacea_padding { margin: 0px 10px 10px 0px;display: block;  }
#heading_77eb974a { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_5b9b6d2f { vertical-align: top; position:relative; display: inline-block; width:27%; min-height:50px; max-width:200px; background:none;  }
#container_5b9b6d2f_padding { margin: 10px; display: block;  }
#button_3708dba { vertical-align: bottom; border-radius: 9px; position:relative; display: inline-block; width:70px; height:40px; background-color:#C0C0C0;  }
#heading_36acfce1 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
.textstyle8 { font-size:24pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#container_4995176 { box-sizing: border-box; vertical-align: top; border-radius: 9px; position:relative; display: inline-block; width:100%; min-height:150px; background-color:#FFFFFF; background: linear-gradient(to bottom, #FFFFFF, #FFFFFF); border: 1px solid #FFFFFF;  }
#container_4995176_padding { margin: 10px; display: block;  }
#container_26e067e { box-sizing: border-box; vertical-align: top; border-radius: 9px; position:relative; display: inline-block; width:100%; min-height:100px; background-color:#FFFFFF; background: linear-gradient(to bottom, #FFFFFF, #FFFFFF); border: 1px solid #FFFFFF;  }
#container_26e067e_padding { margin: 10px; display: block;  }
#container_38e2e2fc { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:50px; background:none;  }
#container_38e2e2fc_padding { margin: 10px 0px 10px 0px;display: block;  }
#container_409c95b4 { vertical-align: top; position:relative; display: inline-block; width:32%; min-height:50px; background:none;  }
#container_409c95b4_padding { margin: 0px 10px 10px 0px;display: block;  }
#img_d2cea7e { vertical-align: bottom; position:relative; display: inline-block; width:99%; background:none;  }
#container_487743b1 { vertical-align: top; position:relative; display: inline-block; width:41%; min-height:50px; background:none;  }
#container_487743b1_padding { margin: 0px 10px 10px 0px;display: block;  }
#heading_45b3a700 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_7ccb60dc { vertical-align: top; position:relative; display: inline-block; width:27%; min-height:50px; max-width:200px; background:none;  }
#container_7ccb60dc_padding { margin: 10px; display: block;  }
#button_28860eb9 { vertical-align: bottom; border-radius: 9px; position:relative; display: inline-block; width:70px; height:40px; background-color:#C0C0C0;  }
#button_27c32fab { vertical-align: bottom; border-radius: 9px; position:relative; display: inline-block; width:70px; height:40px; background-color:#C0C0C0;  }
#container_174f47aa { box-sizing: border-box; vertical-align: top; border-radius: 9px; position:relative; display: inline-block; width:100%; min-height:100px; background-color:#FFFFFF; background: linear-gradient(to bottom, #FFFFFF, #FFFFFF); border: 1px solid #FFFFFF;  }
#container_174f47aa_padding { margin: 10px; display: block;  }
#container_25e7616a { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:50px; background:none;  }
#container_25e7616a_padding { margin: 10px 0px 10px 0px;display: block;  }
#container_6ed60c91 { vertical-align: top; position:relative; display: inline-block; width:32%; min-height:50px; background:none;  }
#container_6ed60c91_padding { margin: 0px 10px 10px 0px;display: block;  }
#img_2648f15 { vertical-align: bottom; position:relative; display: inline-block; width:99%; background:none;  }
#container_582a393c { vertical-align: top; position:relative; display: inline-block; width:41%; min-height:50px; background:none;  }
#container_582a393c_padding { margin: 0px 10px 10px 0px;display: block;  }
#heading_273bab47 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_4e78ed31 { vertical-align: top; position:relative; display: inline-block; width:27%; min-height:50px; max-width:200px; background:none;  }
#container_4e78ed31_padding { margin: 10px; display: block;  }
#button_1438f88e { vertical-align: bottom; border-radius: 9px; position:relative; display: inline-block; width:70px; height:40px; background-color:#C0C0C0;  }
#button_40766b69 { vertical-align: bottom; border-radius: 9px; position:relative; display: inline-block; width:70px; height:40px; background-color:#C0C0C0;  }
#container_3bd5e77a { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:129px; background:none;  }
#container_3bd5e77a_padding { margin: 10px; display: block;  }
#container_d063226 { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; width:100%; min-height:87px; background-color:#EEEEEE; background: linear-gradient(to bottom, #EEEEEE, #EEEEEE); border: 1px solid #EEEEEE;  }
#container_3ceafb04 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:87px; background:none;  }
#container_3ceafb04_padding { margin: 10px; display: block;  }
#container_172d4c46 { vertical-align: top; position:relative; display: inline-block; width:25%; min-height:87px; background:none;  }
#container_172d4c46_padding { margin: 10px; display: block;  }
#img_5d4d6fad { vertical-align: bottom; position:relative; display: inline-block; width:100%; background:none;  }
#container_392be8d9 { vertical-align: top; position:relative; display: inline-block; width:25%; min-height:87px; background:none;  }
#container_392be8d9_padding { margin: 10px; display: block;  }
#img_2e98752a { vertical-align: bottom; position:relative; display: inline-block; width:89%; background:none;  }
#container_7e01dc25 { vertical-align: top; position:relative; display: inline-block; width:25%; min-height:87px; background:none;  }
#container_7e01dc25_padding { margin: 10px; display: block;  }
#img_6467ec { vertical-align: bottom; position:relative; display: inline-block; width:88%; background:none;  }
#container_79deadd { vertical-align: top; position:relative; display: inline-block; width:25%; min-height:87px; background:none;  }
#container_79deadd_padding { margin: 10px; display: block;  }
#img_43c29fd2 { vertical-align: bottom; position:relative; display: inline-block; width:77%; background:none;  }
@media only screen and (max-width: 200px)
{
		#container_172d4c46 { width:50%;  }
		#container_392be8d9 { width:50%;  }
		#container_7e01dc25 { width:50%;  }
		#container_79deadd { width:50%;  }
}
@media only screen and (max-width: 150px)
{
		#container_367f974d { width:100%;  }
		#container_1ab16334 { width:100%;  }
		#container_36fa3ba4 { width:100%;  }
		#container_7f2f72eb { width:100%;  }
		#container_514aacea { width:100%;  }
		#container_5b9b6d2f { width:100%;  }
		#container_409c95b4 { width:100%;  }
		#container_487743b1 { width:100%;  }
		#container_7ccb60dc { width:100%;  }
		#container_6ed60c91 { width:100%;  }
		#container_582a393c { width:100%;  }
		#container_4e78ed31 { width:100%;  }
}
@media only screen and (max-width: 100px)
{
		#container_172d4c46 { width:100%;  }
		#container_392be8d9 { width:100%;  }
		#container_7e01dc25 { width:100%;  }
		#container_79deadd { width:100%;  }
}
@media only screen and (max-width: 60px)
{
		#container_762bc35f { width:100%;  }
		#container_296c3eda { width:100%;  }
}
