h1, h2, h3 { margin:0; padding:0; font-weight:normal; font-style:normal; }
a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
body { background-color:#EEEEEE; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
#container_44a95930 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:882px; background-color:#EEEEEE;  }
#container_44a95930_padding { margin: 10px; display: block;  }
#container_76c78feb { box-sizing: border-box; vertical-align: top; border-radius: 9px; position:relative; display: inline-block; width:100%; min-height:71px; background-color:#EEEEEE; background: linear-gradient(to bottom, #EEEEEE, #EEEEEE); border: 1px solid #EEEEEE;  }
#container_6197ad7c { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:74px; background:none;  }
#container_6197ad7c_padding { margin: 10px; display: block;  }
#container_2219c2d9 { vertical-align: top; position:relative; display: inline-block; width:50%; min-height:70px; background:none;  }
#container_2219c2d9_padding { margin: 10px; display: block;  }
#heading_21011d0a { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
.textstyle2 { font-size:28pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#container_70f0277e { vertical-align: top; position:relative; display: inline-block; width:50%; min-height:70px; background:none;  }
.textstyle3 { text-align:right; }
#img_211390c2 { vertical-align: bottom; position:relative; display: inline-block; width:36%; min-width:50px; max-width:100px; background:none;  }
#container_1a25a863 { box-sizing: border-box; vertical-align: top; border-radius: 9px; position:relative; display: inline-block; width:100%; min-height:50px; background-color:#FFFFFF; background: linear-gradient(to bottom, #FFFFFF, #FFFFFF); border: 1px solid #BDBDBD;  }
.textstyle4 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#container_4ac3a730 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_4ac3a730_padding { margin: 10px; display: block;  }
#container_62eb919f { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:30px; background:none;  }
#container_62eb919f_padding { margin: 10px; display: block;  }
#heading_8cb7ef4 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
.textstyle5 { font-size:14pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#container_4c4f55d2 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:30px; background:none;  }
#container_4c4f55d2_padding { margin: 10px; display: block;  }
.textstyle6 { font-size:14pt; font-family:Arial, Helvetica, sans-serif; color:#0000FF; text-decoration:underline;  }
#container_11553e52 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:30px; background:none;  }
#container_11553e52_padding { margin: 10px; display: block;  }
#container_37d84a41 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:30px; background:none;  }
#container_37d84a41_padding { margin: 10px; display: block;  }
#heading_68d12eb6 { vertical-align: bottom; position:relative; display: inline-block; width:191px; height:43px; background:none;  }
.textstyle7 { font-size:18pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#container_2370311d { box-sizing: border-box; vertical-align: top; border-radius: 9px; position:relative; display: inline-block; width:100%; min-height:150px; background-color:#FFFFFF; background: linear-gradient(to bottom, #FFFFFF, #FFFFFF); border: 1px solid #FFFFFF;  }
#container_2370311d_padding { margin: 10px; display: block;  }
#container_fe60690 { box-sizing: border-box; vertical-align: top; border-radius: 9px; position:relative; display: inline-block; width:100%; min-height:100px; background-color:#FFFFFF; background: linear-gradient(to bottom, #FFFFFF, #FFFFFF); border: 1px solid #FFFFFF;  }
#container_fe60690_padding { margin: 10px 10px 10px 0px;display: block;  }
#container_1f5e550e { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:50px; background:none;  }
#container_1f5e550e_padding { margin: 10px 0px 10px 0px;display: block;  }
#container_1e8d98ac { vertical-align: top; position:relative; display: inline-block; width:32%; min-height:50px; background:none;  }
#container_1e8d98ac_padding { margin: 0px 10px 10px 0px;display: block;  }
#img_11894f69 { vertical-align: bottom; position:relative; display: inline-block; width:99%; background:none;  }
#container_4c910696 { vertical-align: top; position:relative; display: inline-block; width:41%; min-height:50px; background:none;  }
#container_4c910696_padding { margin: 0px 10px 10px 0px;display: block;  }
#heading_69bbdfaf { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
.textstyle8 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#555555;  }
#container_174ab048 { vertical-align: top; position:relative; display: inline-block; width:27%; min-height:50px; max-width:200px; background:none;  }
#container_174ab048_padding { margin: 10px; display: block;  }
#button_2ba3c7ef { vertical-align: bottom; border-radius: 9px; position:relative; display: inline-block; width:70px; height:40px; background-color:#C0C0C0;  }
.vcenterstyle1 { display: table; width: 100%; height: 100%; }
.vcenterstyle2 { display: table-cell; vertical-align: middle; }
.textstyle9 { text-align:center; }
#button_690c45d4 { vertical-align: bottom; border-radius: 9px; position:relative; display: inline-block; width:70px; height:40px; background-color:#C0C0C0;  }
#container_59106b90 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:50px; background:none;  }
#container_59106b90_padding { margin: 10px 0px 10px 0px;display: block;  }
#container_674f90a { vertical-align: top; position:relative; display: inline-block; width:32%; min-height:50px; background:none;  }
#container_674f90a_padding { margin: 0px 10px 10px 0px;display: block;  }
#img_7a69fbcf { vertical-align: bottom; position:relative; display: inline-block; width:99%; background:none;  }
#container_6de722c9 { vertical-align: top; position:relative; display: inline-block; width:41%; min-height:50px; background:none;  }
#container_6de722c9_padding { margin: 0px 10px 10px 0px;display: block;  }
#heading_1b577140 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_513b9dc4 { vertical-align: top; position:relative; display: inline-block; width:27%; min-height:50px; max-width:200px; background:none;  }
#container_513b9dc4_padding { margin: 10px; display: block;  }
#button_7129773f { vertical-align: bottom; border-radius: 9px; position:relative; display: inline-block; width:70px; height:40px; background-color:#C0C0C0;  }
#button_3034d914 { vertical-align: bottom; border-radius: 9px; position:relative; display: inline-block; width:70px; height:40px; background-color:#C0C0C0;  }
#heading_37e2884d { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
.textstyle10 { font-size:24pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#container_68659b82 { box-sizing: border-box; vertical-align: top; border-radius: 9px; position:relative; display: inline-block; width:100%; min-height:150px; background-color:#FFFFFF; background: linear-gradient(to bottom, #FFFFFF, #FFFFFF); border: 1px solid #FFFFFF;  }
#container_68659b82_padding { margin: 10px; display: block;  }
#container_37508c6c { box-sizing: border-box; vertical-align: top; border-radius: 9px; position:relative; display: inline-block; width:100%; min-height:100px; background-color:#FFFFFF; background: linear-gradient(to bottom, #FFFFFF, #FFFFFF); border: 1px solid #FFFFFF;  }
#container_37508c6c_padding { margin: 10px; display: block;  }
#container_6fb34e20 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:50px; background:none;  }
#container_6fb34e20_padding { margin: 10px 0px 10px 0px;display: block;  }
#container_21a52186 { vertical-align: top; position:relative; display: inline-block; width:32%; min-height:50px; background:none;  }
#container_21a52186_padding { margin: 0px 10px 10px 0px;display: block;  }
#img_7b73f21c { vertical-align: bottom; position:relative; display: inline-block; width:99%; background:none;  }
#container_759a05ab { vertical-align: top; position:relative; display: inline-block; width:41%; min-height:50px; background:none;  }
#container_759a05ab_padding { margin: 0px 10px 10px 0px;display: block;  }
#heading_26c78327 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_8b61b39 { vertical-align: top; position:relative; display: inline-block; width:27%; min-height:50px; max-width:200px; background:none;  }
#container_8b61b39_padding { margin: 10px; display: block;  }
#button_46d05a71 { vertical-align: bottom; border-radius: 9px; position:relative; display: inline-block; width:70px; height:40px; background-color:#C0C0C0;  }
#button_51089dc0 { vertical-align: bottom; border-radius: 9px; position:relative; display: inline-block; width:70px; height:40px; background-color:#C0C0C0;  }
#container_591c1688 { box-sizing: border-box; vertical-align: top; border-radius: 9px; position:relative; display: inline-block; width:100%; min-height:100px; background-color:#FFFFFF; background: linear-gradient(to bottom, #FFFFFF, #FFFFFF); border: 1px solid #FFFFFF;  }
#container_591c1688_padding { margin: 10px; display: block;  }
#container_45190b08 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:50px; background:none;  }
#container_45190b08_padding { margin: 10px 0px 10px 0px;display: block;  }
#container_5100e8fe { vertical-align: top; position:relative; display: inline-block; width:32%; min-height:50px; background:none;  }
#container_5100e8fe_padding { margin: 0px 10px 10px 0px;display: block;  }
#img_4791130d { vertical-align: bottom; position:relative; display: inline-block; width:99%; background:none;  }
#container_405e9f4b { vertical-align: top; position:relative; display: inline-block; width:41%; min-height:50px; background:none;  }
#container_405e9f4b_padding { margin: 0px 10px 10px 0px;display: block;  }
#heading_3af3fc8e { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_57f74dda { vertical-align: top; position:relative; display: inline-block; width:27%; min-height:50px; max-width:200px; background:none;  }
#container_57f74dda_padding { margin: 10px; display: block;  }
#button_52a4d2da { vertical-align: bottom; border-radius: 9px; position:relative; display: inline-block; width:70px; height:40px; background-color:#C0C0C0;  }
#button_22ad0c1b { vertical-align: bottom; border-radius: 9px; position:relative; display: inline-block; width:70px; height:40px; background-color:#C0C0C0;  }
#container_2ae61b02 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:129px; background:none;  }
#container_2ae61b02_padding { margin: 10px; display: block;  }
#container_6830ca05 { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; width:100%; min-height:87px; background-color:#EEEEEE; background: linear-gradient(to bottom, #EEEEEE, #EEEEEE); border: 1px solid #EEEEEE;  }
#container_6bad7b16 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:87px; background:none;  }
#container_6bad7b16_padding { margin: 10px; display: block;  }
#container_33d2f3f7 { vertical-align: top; position:relative; display: inline-block; width:25%; min-height:87px; background:none;  }
#container_33d2f3f7_padding { margin: 10px; display: block;  }
#img_1372f50a { vertical-align: bottom; position:relative; display: inline-block; width:100%; background:none;  }
#container_7ce5367e { vertical-align: top; position:relative; display: inline-block; width:25%; min-height:87px; background:none;  }
#container_7ce5367e_padding { margin: 10px; display: block;  }
#img_359fb807 { vertical-align: bottom; position:relative; display: inline-block; width:89%; background:none;  }
#container_7d6d7fb3 { vertical-align: top; position:relative; display: inline-block; width:25%; min-height:87px; background:none;  }
#container_7d6d7fb3_padding { margin: 10px; display: block;  }
#img_a840691 { vertical-align: bottom; position:relative; display: inline-block; width:88%; background:none;  }
#container_40a7fea4 { vertical-align: top; position:relative; display: inline-block; width:25%; min-height:87px; background:none;  }
#container_40a7fea4_padding { margin: 10px; display: block;  }
#img_24de8341 { vertical-align: bottom; position:relative; display: inline-block; width:79%; background:none;  }
@media only screen and (max-width: 200px)
{
		#container_33d2f3f7 { width:50%;  }
		#container_7ce5367e { width:50%;  }
		#container_7d6d7fb3 { width:50%;  }
		#container_40a7fea4 { width:50%;  }
}
@media only screen and (max-width: 150px)
{
		#container_1e8d98ac { width:100%;  }
		#container_4c910696 { width:100%;  }
		#container_174ab048 { width:100%;  }
		#container_674f90a { width:100%;  }
		#container_6de722c9 { width:100%;  }
		#container_513b9dc4 { width:100%;  }
		#container_21a52186 { width:100%;  }
		#container_759a05ab { width:100%;  }
		#container_8b61b39 { width:100%;  }
		#container_5100e8fe { width:100%;  }
		#container_405e9f4b { width:100%;  }
		#container_57f74dda { width:100%;  }
}
@media only screen and (max-width: 100px)
{
		#container_33d2f3f7 { width:100%;  }
		#container_7ce5367e { width:100%;  }
		#container_7d6d7fb3 { width:100%;  }
		#container_40a7fea4 { width:100%;  }
}
@media only screen and (max-width: 60px)
{
		#container_2219c2d9 { width:100%;  }
		#container_70f0277e { width:100%;  }
}
